.wrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.main {
    flex-grow: 1;
    width: 100vw;
    padding: 0 3rem 10rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/planet.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__description {
        font-size: 2rem;
        text-align: center;
        width: 95%;
        margin-bottom: 3rem;
        font-weight: bold;
        color: white;
    }

    &__search {
        border: 1px solid white;
        border-radius: 1rem;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width: 100%;
        max-width: 900px;
        background-color: white;

        &__input {
            border: none;
            flex-grow: 1;
            font-size: 1.6rem;
            padding: 0 1rem;
            width: 100%;
        }
        
        &__input:focus {
            outline: none;
        }


        &__button {
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            background-color: white;
        
            img {
                padding: 1rem;
            }

            img:hover {
                    cursor: pointer;
                }
            }
    }
    

    &__error {
        text-align: center;
        margin-top:.5rem;
        color: red;
        font-size: 1.5rem;
        background-color: rgba($color: #000000, $alpha: .6);
        padding: 1rem;
        border-radius: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .main {
        padding: 0 3rem 26rem 3rem;

        &__description {
            font-size: 2.5rem;
        }
    }
}