.wrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.main {
    flex-grow: 1;
    width: 100vw;
    padding: 0 3rem 10rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/planet.png');
    background-color: var(--gray);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__description {
        font-size: 2rem;
        text-align: center;
        width: 95%;
        margin-bottom: 3rem;
        font-weight: bold;
        color: white;
    }

    &__search {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 850px;
        height: 60px;
        background-color: white;

        &__input {
            border: none;
            flex-grow: 1;
            font-size: 2rem;
            font-weight: 800;
            padding-left: 1rem;
            color: black;
        }

        &__input::placeholder {
            font-weight: 800;
        }
        
        &__input:focus {
            outline: none;
        }


        &__button {
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            background-color: var(--green);
            width: 60px;

        
            img {
                filter: invert(1);
                height: 32px;
            }

            img:hover {
                    cursor: pointer;
                }
            }
    }
    

    &__error {
        text-align: center;
        margin-top:.5rem;
        color: red;
        font-size: 1.5rem;
        background-color: rgba($color: #000000, $alpha: .6);
        padding: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .main {
        padding: 0 3rem 26rem 3rem;

        &__description {
            font-size: 2.5rem;
        }
    }
}