.repo {
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    width: 100%;
    flex-grow: 1;
    min-width: 300px;
    min-height: 165px;
    background-color: var(--green);
    

    &__name {
        height: 35px;
        font-size: 1.8rem;
        font-weight: 800;
        color: white;
        flex-basis: 100%;
        text-decoration: none;
        overflow: hidden;
    }

    &__description {
        height: 67px;
        font-size: 1.6rem;
        flex-basis: 100%;
        overflow: hidden;
        color: #FFFFFFDD;
    }

    &__details {
        display: flex;
        flex-direction: row;
        gap: 3rem;

        &__lang {
            display: flex;
            flex-direction: row;
            font-size: 1.6rem;
            align-items: center;
            gap: .5rem;
            color: var(--dark-green);
        }

        &__link {
            display: flex;
            flex-direction: row;
            font-size: 1.6rem;
            align-items: center;
            gap: .5rem;
            text-decoration: none;
            color: var(--dark-green);
        }
    }
}

@media screen and (min-width: 768px) {
    .repo {
        width: 48.62%;
        flex-grow: 0;
    }
}

@media screen and (min-width: 1024px) {
    .repo {
        width: 31.978%;
        flex-grow: 0;
    }
}