.repos-wrapper {
    width: 100%;
}

.container {
    width: 100%;
    background-color: var(--gray);
}

.org {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1350px;
    margin: 2rem auto;
    height: 100%;

    &__img {

        img {
            width: 160px;
            height: 160px;
            background-color: transparent;
        }
    }

    &__details {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 100%;

        img {
            filter: invert(1);
        }

        &__name {
            font-size: 4rem;
        }

        &__description {
            font-size: 1.5rem;
        }

        &__location {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: .5rem;
            font-size: 1.5rem;
        }

        &__blog, &__twitter {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: .5rem;
            font-size: 1.5rem;
            text-decoration: none;
            color: white;

            a {
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }
        }

        
    }

}

.repo-search {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 2rem 0;
    gap: .5rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2rem;

    &__bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 500px;
        width: 100%;
        background-color: white;

        input {
            border: none;
            font-size: 2rem;
            padding: 0 2rem;
            width: 80%;
            color: black;
            font-weight: 800;
        }

        input::placeholder {
            font-weight: 800;
        }

        button {
            background-color: var(--green);
            border: none;
            display: flex;
            align-items: center;
            height: 60px;
            width: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            
            img {
                filter: invert(1);
                height: 32px;
                width: 32px;
                
            }
        }

        input:focus {
            outline: none;
        }


        button:hover {
            cursor: pointer;
        }
    }

    &__error {
        font-size: 1.6rem;
        color: red;
    }
}

.return-button {
    border: none;
    padding: 1rem;
    background-color: var(--green);
    display: block;
    margin: 0 auto;
}

.return-button:hover {
    cursor: pointer;
    background-color: var(--dark-green);
    transition: background-color 1s;
}

.repos {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    
    &__title {
        font-size: 4rem;
        font-weight: 800;
        margin-bottom: 2rem;
    }
    
    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
}

.pagination {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 3rem;
    font-size: 1.5rem;

    &__prev, &__next {
        margin-top: 1rem;
        color: blue;
        text-decoration: none;

        button {
            border: none;
            padding: 1rem;
            background-color: var(--green);
        }

        button:hover {
            cursor: pointer;
            background-color: var(--dark-green);
            transition: background-color 1s;
        }
    }

}

@media screen and (min-width: 768px) {
    .repos {

        &__list {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 2rem;
        }
    }
}