.repos-wrapper {
    width: 100%;
}

.container {
    width: 100%;
    min-height: 100vh;

    header {
        background-color: #F6F8FA;
        border-bottom: 1px solid lightgray;
    }
}

.org {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 3rem 2rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;

    &__img {

        img {
            width: 100px;
            height: 100px;
            border-radius: 1rem;
            border: 1px solid lightgray;
            background-color: white;
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &__name {
            font-size: 2rem;
            line-height: 2rem;
        }

        &__description {
            font-size: 1.4rem;
        }

        &__location {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: .5rem;
            font-size: 1.2rem;
        }

        &__blog, &__twitter {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: .5rem;
            font-size: 1.2rem;
            text-decoration: none;
            color: black;
        }

        &__blog:hover, &__twitter:hover {
            text-decoration: underline;
        }
    }

}

.repos {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1.5rem 2rem 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;


    &__title {
        font-size: 1.8rem;
        font-weight: 400;
        margin-bottom: 2rem;
    }
    
    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
}

.pagination {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 3rem;
    font-size: 1.5rem;

    &__prev, &__next {
        color: blue;
        text-decoration: none;
    }

    &__prev:hover, &__next:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

@media screen and (min-width: 768px) {
    .repos {

        &__list {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 3rem;
        }
    }
}