.header {
    width: 100%;
    background-color: var(--gray);
    display: flex;
    flex-direction: row;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
    color: white;
    
    &__return {
        width: 24px;
        height: 24px;
    }

    &__logo {
        display: flex;
        flex-direction: row;
        gap: .5rem;
        align-items: center;
        user-select: none;

        &__title {
            font-size: 3rem;
            font-weight: 800;
            text-transform: uppercase;
        }

        &__title:hover {
            cursor: pointer;
        }
    }

}

@media screen and (min-width: 769px) {
    .header {
        padding: 2rem;
        max-width: 1350px;
        margin: 0 auto;

        &__return {
            display: none;
        }

        &__logo {

            &__title {
                font-size: 4.8rem;
            }
        }
    }
}