.footer {
    width: 100vw;
    text-align: center;
    border-top: 1px solid lightgray;
    padding: 1rem;
    background-color: #F6F8FA;
    color: black;
    
    
    &__contact {
        font-size: 1.1rem;

        a {
            text-decoration: none;
            font-weight: 500;
            color: black;
        }
    }   
}